.App {
  background-color: #8EE4AF;
  min-height: 100vmin;
  min-width: 100%;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}